// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
body {
    font-size: $font-size-body;
    padding: 20px;
    font-family: $font-body;
}

h1,
h2,
h3,
h4 {
    font-family: $font-headings;
}

a {
    color: $colour-brand-primary;
}

// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------
