// Combine all styles, ready to be output into a single CSS file.

// Libraries
@import "compass/css3";

// Settings
$layout-breakpoint-tablet:768px;
$layout-breakpoint-desktop:1024px;

$grid-total-columns:16;
$grid-gutter:15px;

// Colours
$colour-brand-primary:#F00;
$colour-brand-secondary:#0F0;

// General styles
@import "partials/typography";
@import "partials/form";
@import "partials/grid";
@import "partials/elements";

// Components
@import "components/layout";

// Media Queries
@import "partials/device";