@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin rounded($size: 100%) {
  width: $size;
  height: $size;
  border-radius: $size;
}

@mixin flex-center {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin psuedo-shape($placement: before, $width: 100%, $height: 100%) {
  &::#{$placement} {
    content: '';
    position: absolute;
    width: $width;
    height: $height;
  }
}
