// -----------------------------------------------------------------------------
// Override Foundation settings
// -----------------------------------------------------------------------------

// Media Query Ranges
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);

// Grid settings
$grid-column-count: 12;
$grid-row-width: 1200px;
$grid-column-gutter: (
  small: 1rem,
  medium: 2rem
);

// -----------------------------------------------------------------------------
// Global settings
// -----------------------------------------------------------------------------

// Example colours
$colour-brand-primary: #00F;
$colour-brand-secondary: #09F;

// Example fonts
$font-body: sans-serif;
$font-headings: sans-serif;
$font-size-body: 2em;
