/**
 * An example block: Header
 *
 * Configuration with namespaced variables:
 *
 * $header-background-color: #CCC;
 */

/*
Example with Media Queries:

.header{
    height: auto;
    background-color: $header-background-color;

    @include device-small-only{
        height: 50px;
    }

    @include device-medium-up {
        min-height: 200px;
    }

    @include device-large-up{
        min-height: 300px;
    }
}
*/