// Base grid
// --------------------------------------------------------------------
.row{
	width:100%;
	clear:both;

	[class^="col-"],
	[class*="col-"]{
		@include box-sizing("border-box");
		padding: 0 $grid-gutter;
		float: left;

		img{
			max-width: 100%;
			height: auto;
		}

		&.no-padding{
			padding: 0;
		}
	}
}

// Grid calculation for percentages
@function gridCalc($col-number, $total-columns) {
	@return percentage(($col-number / $total-columns));
}

// Creating column classes
@for $i from 1 through $grid-total-columns {
	.row .col-#{$i} {
		width: percentage(($i / $grid-total-columns));
	}
}