/**
 * An example block: Header
 *
 * Configuration with namespace variables:
 */

$header-background-color: #F1F1F1;

.primary-header {
  padding: 2em;
  background-color: $header-background-color;
  border-bottom: 5px solid darken($header-background-color, 10);

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include breakpoint(medium only) {
    border-bottom-color: darken($header-background-color, 20);
  }

  @include breakpoint(large up) {
    border-bottom-color: darken($header-background-color, 30);
  }
}
