// Libraries
@import "compass/css3";

// Layout & grid settings
$layout-breakpoint-medium:768px;
$layout-breakpoint-large:1024px;

$grid-total-columns:12;
$grid-gutter:1em;

// Colours
$colour-brand-primary:#F00;
$colour-brand-secondary:#0F0;
$colour-font-primary: #444;
$colour-font-secondary: #CCC;

// Mixins
@mixin example(){
}

// General styles
@import "partials/base";
@import "partials/grid";
@import "partials/modules";

// Components
@import "components/layout";
@import "components/header";

// Sections
@import "sections/home";

// Media Queries
@import "partials/device";