// Foundation Media Query shortcuts
@mixin device-small-only {
    @media #{$small-only} {
        @content;
    }
}

@mixin device-medium-only {
    @media #{$medium-only} {
        @content;
    }
}

@mixin device-large-only {
    @media #{$large-only} {
        @content;
    }
}

@mixin device-medium-up {
    @media #{$medium-up} {
        @content;
    }
}

@mixin device-large-up {
    @media #{$large-up} {
        @content;
    }
}

@mixin sprite($width, $height, $x: center, $y:0, $key: "sprite") {
    background-image: url("../images/#{$key}.png");
    background-repeat: no-repeat;
    background-position: $x $y;
    background-size: $width $height;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image:url("../images/#{$key}-2x.png");
    }
}

@mixin reset-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin rounded($size: 10px){
    width: $size;
    height: $size;
    border-radius: $size;
}