// Global settings
// --------------------------------------------------------------------

// Layout
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1024px;

// Colours
$colour-brand-primary: #F00;
$colour-brand-secondary: #0F0;

// Fonts
$font-primary: 'Arial';
$font-headings: 'Times';

// Sprites
$sprite-width: 400px;
$sprite-height: 400px;
