/* Combines all styles, ready to be output into a single CSS file. */

/* Compass Libraries */
@import "compass/css3";

/* Vendor */

/* Settings
-------------------------------------------------------------------- */
$layout-breakpoint-tablet:768px;
$layout-breakpoint-desktop:1024px;

/* Colours
-------------------------------------------------------------------- */
$colour-brand-primary:#F00;
$colour-brand-secondary:#0F0;

/* Mixins/functions */
@import "partials/mixins";

/* Generic styles */
@import "partials/typography";
@import "partials/forms";
@import "partials/tables";
@import "partials/elements";

/* Site Layout
-------------------------------------------------------------------- */
body{
  background: purple;
}


/* Pages */
@import "pages/home";

/* Media Queries */
@import "device/touch";
@import "device/tablet";
@import "device/desktop";
@import "device/print";

/* IE hacks */
@import "partials/iehacks";




