/**
 * An example element: Button
 *
 * Configuration with namespaced variables:
 *
 * $button-background-color: purple;
 * $button-medium-max-width: 200px;
 * $button-large-max-width: 300px;
 */

/*
Example with Media Queries:

.button{
    width: 100%;
    background-color: $button-background-color;

    @include device-medium-up {
        max-width: $button-medium-max-width;
    }

    @include device-large-up{
        max-width: $button-large-max-width;
    }
}
*/